<div>
    <h2>List Tasks</h2>
    <table class="center">
        <tr>
            <th>Sno</th>
            <th>Task Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>1</td>
            <td>install Git</td>
            <td>PENDING</td>
            <td><a routerLink="/edittask">Edit</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>install Node JS</td>
            <td>PENDING</td>
            <td><a routerLink="/edittask">Edit</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>install VS Code</td>
            <td>PENDING</td>
            <td><a routerLink="/edittask">Edit</a></td>

            
        </tr>
        <tr>
            <td>4</td>
            <td>install VPN</td>
            <td>PENDING</td>
            <td><a routerLink="/edittask">Edit</a></td>
        </tr>
    </table>
</div>
