
<form>
    <style>
        label{
            text-align:left;
            display: inline-block;
            width:100px;
            margin-bottom: 30px;
            margin-left: 20px;
        }
        button{
            text-align: center;
            display: inline-block;
            width: 100px;
            margin-right: 30px;
            margin-left: 20px;

        }
        
        div{
            text-align: center;
        }
    </style>

<div>
    <h3>Login</h3>
    <br>
    <label for="Email"><b>Email </b> </label>
    <input type="text" placeholder="Enter Your Email" name="name" id="Email">
    <br>
    <label for="password"><b>Password</b>  </label>
    <input type="text" placeholder="Enter Your Password" name="name" id="password">
    <br>
    <button>Submit</button>
    <button>Reset</button>
</div>
</form>

