<form>
    <style>
      label{
        text-align:left;
        display:inline-block;
        width: 90px;
        margin-bottom: 30px;
        margin-left: -50px;
      }
      button{
        text-align: center;
        margin-right: 30px;
        width: 100px;
      }
      div{
        text-align: center;
      }
    </style>
    <div>
        <h2>Add Task</h2>
        <label for="Taskname"><b>Task Name</b></label>
        <input type="text" placeholder="Entere your task name" name="task name" id="Taskname">
        <br>

        <button>Submit</button>
        <button>Reset</button>
    </div>
</form>
